@import 'base', 'formatacao'; 



$cor2: 'light'+ grey;
$background: black;
$tamanho: '29';

@mixin fundoP($color) {

    background-color: $color;

}

body {


    @include fundoP($background);

    @if($background == black) {

        color: #{$cor2};
        font-size: #{$tamanho + 'px'};

    } @else {

        color: darkblue;
        background-color: lightblue;
    }


    color: $cor2;
    margin: 5% * 2;

}


p {

    b {

        color: greenyellow

    }

}